# Ignore everything by default
*

# Allow live server files
!index.html
!app.js
!styles.css
!favicon.svg
!assets/
!assets/**
!engine/
!engine/**
!ui/
!ui/**

# Allow repo essentials
!README.md
!CHANGELOG.md
!.gitignore
